# Environments
.venv/
venv/
env/
.env

# IDE
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Outputs / data (uncomment if these should not be tracked)
# *.csv
# *.xlsx

# Client data
TeamE/Group info.txt
TeamE/HUB_Crosswalk_20251001.xlsx
TeamE/HUB_Crosswalks/
